@using System.Linq
@using Newtonsoft.Json
@using MicroZero.Http.Route
@using Agebull.Common.Ioc
@using Agebull.MicroZero

@functions {
private string GetIcon(ZeroStationType type)
{
    switch (type)
    {
        case ZeroStationType.Api:
        case ZeroStationType.RouteApi:
            {
                return "el-icon-star-on";
            }
        case ZeroStationType.Vote:
            {
                return "el-icon-star-off";
            }
        case ZeroStationType.Notify:
        case ZeroStationType.Queue:
            {
                return "el-icon-share";
            }
        case ZeroStationType.Plan:
            {
                return "el-icon-time";
            }
        default:
            {
                return "el-icon-setting";
            }
    }
}
}
@{
    var options = ZeroApplication.Config.GetConfigs().Where(p => !p.IsSystem).OrderBy(p => p.RequestPort).ToArray();
}

<el-menu :collapse="isCollapse" default-active="type-active"
         @@select="menu_select"
         background-color="#545c64"
         text-color="#fff" unique-opened
         active-text-color="#ffd04b">

    <el-submenu index="operator">
        <template slot="title">
            <i class="el-icon-edit"></i>
            <span>操作</span>
        </template>
        <el-menu-item index="operator-add">
            <template slot="title">
                <i class="el-icon-circle-plus-outline"></i>
                <span>新增</span>
            </template>
        </el-menu-item>
        <el-menu-item index="operator-flush">
            <template slot="title">
                <i class="el-icon-refresh"></i>
                <span>刷新</span>
            </template>
        </el-menu-item>
    </el-submenu>
    <el-submenu index="plan-data">
        <template slot="title">
            <i class="el-icon-date"></i>
            <span>数据类型</span>
        </template>
        <el-menu-item index="type-active">
            <template slot="title">
                <i class="el-icon-time"></i>
                <span>活动数据</span>
            </template>
        </el-menu-item>
        <el-menu-item index="type-history">
            <template slot="title">
                <i class="el-icon-time"></i>
                <span>历史数据</span>
            </template>
        </el-menu-item>
    </el-submenu>
    <el-submenu index="plan-type">
        <template slot="title">
            <i class="el-icon-time"></i>
            <span>计划类型</span>
        </template>
        <el-menu-item index="type-once">
            <template slot="title">
                <i class="el-icon-time"></i>
                <span>单次</span>
            </template>
        </el-menu-item>
        <el-menu-item index="type-time">
            <template slot="title">
                <i class="el-icon-time"></i>
                <span>定时</span>
            </template>
        </el-menu-item>
        <el-menu-item index="type-delay">
            <template slot="title">
                <i class="el-icon-bell"></i>
                <span>延时</span>
            </template>
        </el-menu-item>
        <el-menu-item index="type-week">
            <template slot="title">
                <i class="el-icon-date"></i>
                <span>每周</span>
            </template>
        </el-menu-item>
        <el-menu-item index="type-month">
            <template slot="title">
                <i class="el-icon-date"></i>
                <span>每月</span>
            </template>
        </el-menu-item>
    </el-submenu>
    <el-submenu index="station">
        <template slot="title">
            <i class="el-icon-menu"></i>
            <span>站点</span>
        </template>
        @foreach (var group in options.GroupBy(p => p.StationType))
        {
            <el-menu-item-group title="@group.Key">
                @foreach (var station in group)
                {
                    <el-menu-item index="station-@station.Name">
                        <template slot="title">
                            <i class="@GetIcon(station.StationType)"></i>
                            <span>@station.Name</span>
                        </template>
                    </el-menu-item>
                }

            </el-menu-item-group>
        }
    </el-submenu>

</el-menu>
