@{
    ViewData["Title"] = "Event";
    ViewData["page"] = "event";

}
@section Styles    {
    <style>
        .chart_parent {
            display: inline-block;
            width: 248px
        }

        .chart_panel {
            height: 248px;
            min-width: 248px;
            margin: 0 auto;
            max-width: 248px;
        }
    </style>
}
@section InitScript{
    <script>
        extend_data({
            customer: {
                name: "老板",
                level: 1
            }
        });
        var ws_status = new ws({
            address: "ws://" + location.host + "/event",
            sub: "",
            onmessage: on_status
        });
        ws_status.open();

        function on_status(item) {

            Vue.set(vue_option.data, "customer", item);
        }
    </script>
}

<el-container style="width:100%;height:100%;margin:0;padding:0;overflow:hidden">
    <div style="font-size:60px">{{customer.msg}}</div><br /><br />
    <div><span class="my_label">原始数据:</span> : {{customer.data}}</div>
</el-container>

