<!-- Form -->
<el-dialog title='自注释配置对象编辑'
           :visible.sync='annotationsConfig.visible' v-loading='loading'
           element-loading-text='正在处理'
           element-loading-spinner='el-icon-loading'
           element-loading-background='rgba(0, 0, 0, 0.8)'>
    <div style='border:solid 1px silver;background-color:white;padding:10px'>
        <el-form :model='annotationsConfigData'
                 :rules='annotationsConfigRules'
                 label-position='left'
                 label-width='100px'
                 ref='annotationsConfigForm'
                 @@submit.native.prevent>
            <el-form-item label='名称' prop='Name'>
                <el-input v-model='annotationsConfigData.name' placeholder='名称' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='标题' prop='Caption'>
                <el-input v-model='annotationsConfigData.name' placeholder='标题' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='说明' prop='Description'>
                <el-input v-model='annotationsConfigData.name' placeholder='说明' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='名称' prop='name'>
                <el-input v-model='annotationsConfigData.name' placeholder='名称' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='<Name>k__BackingField' prop='<Name>k__BackingField'>
                <el-input v-model='annotationsConfigData.name' placeholder='<Name>k__BackingField' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='标题' prop='caption'>
                <el-input v-model='annotationsConfigData.name' placeholder='标题' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='<Caption>k__BackingField' prop='<Caption>k__BackingField'>
                <el-input v-model='annotationsConfigData.name' placeholder='<Caption>k__BackingField' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='说明' prop='description'>
                <el-input v-model='annotationsConfigData.name' placeholder='说明' auto-complete='off'></el-input>
            </el-form-item>
            <el-form-item label='<Description>k__BackingField' prop='<Description>k__BackingField'>
                <el-input v-model='annotationsConfigData.name' placeholder='<Description>k__BackingField' auto-complete='off'></el-input>
            </el-form-item>
        </el-form>
    </div>
    <div slot='footer' class='dialog-footer'>
        <el-button @@click='reset_annotationsConfig'>取 消</el-button>
        <el-button @@click='save_annotationsConfig' type='primary'>确 定</el-button>
    </div>
</el-dialog>
<script>
    vue_option.data.annotationsConfig = {
        visible: false,
        loading: false,
        labelWidth: 100,
        form: {
            'Name':null,
            'Caption':null,
            'Description':null,
            'name':null,
            '<Name>k__BackingField':null,
            'caption':null,
            '<Caption>k__BackingField':null,
            'description':null,
            '<Description>k__BackingField':null
        },
        rules: {
            'Name':[
                { required: true, message: '请输入名称', trigger: 'blur' }
            ],
            'Caption':[
                { required: true, message: '请输入标题', trigger: 'blur' }
            ],
            'Description':[
                { required: true, message: '请输入说明', trigger: 'blur' }
            ],
            'name':[
                { required: true, message: '请输入名称', trigger: 'blur' }
            ],
            '<Name>k__BackingField':[
                { required: true, message: '请输入<Name>k__BackingField', trigger: 'blur' }
            ],
            'caption':[
                { required: true, message: '请输入标题', trigger: 'blur' }
            ],
            '<Caption>k__BackingField':[
                { required: true, message: '请输入<Caption>k__BackingField', trigger: 'blur' }
            ],
            'description':[
                { required: true, message: '请输入说明', trigger: 'blur' }
            ],
            '<Description>k__BackingField':[
                { required: true, message: '请输入<Description>k__BackingField', trigger: 'blur' }
            ]
        }
    }
</script>