RpcService.VC.db
/src/Agebull.Rpc.Cpp/boost_1_62_0
/src/Agebull.Rpc.Cpp/Debug
/src/Agebull.Rpc.Cpp/ipch
DebugPS
.vs
Debug
*.user
x64
ipch
/src/Agebull.Rpc.Cpp/Lib
/src/Agebull.Rpc.Cpp/MqCenter
/src/Agebull.Rpc.Cpp/NetLib
/src/Agebull.Rpc.Cpp/NetRpc
/src/Agebull.Rpc.Cpp/publish
*.opendb
*.log
*.vspscc
obj
bin
/src/Agebull.Rpc.Cpp/packages
/src/Agebull.Rpc.Cpp/Release
/src/Agebull.Rpc.Cpp/WindowsService/Release
*.db
packages
/src/ZeroCenter/publish
/src/ZeroCenter/NetLib
/src/ZeroCenter/MqCenter
/src/ZeroCenter/NetRpc
/src/ZeroCenter/OpenSource/czmq
/src/ZeroCenter/OpenSource/log4cxx
/src/ZeroCenter/OpenSource/mysql
/src/ZeroCenter/OpenSource/zeromq/src
/src/ZeroCenter/Release
/src/ZeroCenter/WindowsService
/src/C_Lib
/src/ZmqNet/publish
/src/publish
/src/ZmqNet/PublishNuget
