RpcService.VC.db
/src/Agebull.Rpc.Cpp/boost_1_62_0
/src/Agebull.Rpc.Cpp/Debug
/src/Agebull.Rpc.Cpp/ipch
DebugPS
.vs
Debug
*.user
x64
ipch
/src/Agebull.Rpc.Cpp/Lib
/src/Agebull.Rpc.Cpp/MqCenter
/src/Agebull.Rpc.Cpp/NetLib
/src/Agebull.Rpc.Cpp/NetRpc
/src/Agebull.Rpc.Cpp/publish
*.opendb
*.log
*.vspscc
obj
bin
/src/Agebull.Rpc.Cpp/packages
/src/Agebull.Rpc.Cpp/Release
/src/Agebull.Rpc.Cpp/WindowsService/Release
*.db
packages
/src/ZeroCenter/publish
/src/ZeroCenter/NetLib
/src/ZeroCenter/MqCenter
/src/ZeroCenter/NetRpc
/src/ZeroCenter/OpenSource/czmq
/src/ZeroCenter/OpenSource/log4cxx
/src/ZeroCenter/OpenSource/mysql
/src/ZeroCenter/OpenSource/zeromq/src
/src/ZeroCenter/Release
/src/ZeroCenter/WindowsService
/src/C_Lib
/src/ZmqNet/publish
/src/publish
/src/ZmqNet/PublishNuget
/src/UpgradeLog.htm
/src/Release
/src/ZeroCenter/Console/Release
*.TMP
/src/ZeroMonitor
/src/ZmqNet/HttpRoute/HttpRoute/Datas
/src/ZmqNet/WebMonitor/datas/WebMonitor
/src/test/RpcTest/AddIn
/test
/src/ZmqNet/HttpRoute/HttpRoute/AddIn/Agebull.ZeroNet.Extend.dll
/src/ZmqNet/HttpRoute/HttpRoute/AddIn/Agebull.ZeroNet.Extend.pdb
/src/ZmqNet/WebMonitor/wwwroot/plan.html
/src/ZeroCenter/ZeroNetService
/src/ZeroCenter/ZeroCenter.sln
/src/ZeroCenter/OpenSource
/src/ZeroCenter/SharpCode
/src/ZeroCenter/Windows
/src/ZmqNet/ApiContract
/src/docker-compose.dcproj
/src/docker-compose.override.yml
/src/docker-compose.yml
/src/ZeroMq.rar
/src/EntityEventProxy
/src/HealthCenter
/src/JsonTest
/src/NetMQ
/src/.dockerignore
/src/test/ApiTest2
/src/ZmqNet/test/ApiTest2
/src/Old
/src/Tools/HttpRoute/HttpRoute/AddIn
/src/Test/ZeroSerivce
/src/Tools/WebMonitor/datas
/designer
/src/Tools/HttpBridge/appsettings.json
/src/test/QueueTest/appsettings.json
/src/Tools/HttpBridge/wwwroot
/src/Tools/HttpGateway/wwwroot
