@using System
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.RazorPages
@{
    ViewData["Title"] = "Flow";
    ViewData["page"] = "flow";
}
@section Styles{
    <style type="text/css">
        .frameValue {
            color: blue;
            background-color: silver;
            border: 1px dotted blue;
            padding: 3px;
        }

        .frames {
            font-size: 9pt;
        }

        .step {
            padding-top: 5px;
            color: maroon;
            font-size: 12pt;
        }

        .join {
            background-color: cadetblue
        }

        .call {
            background-color: blue
        }

        .ok {
            background-color: greenyellow
        }

        .run {
            background-color: silver
        }

        .failed {
            background-color: red
        }

        .toleft {
            margin-top: -10px;
            height: 53px;
            width: 95px;
            display: block;
            border-style: solid;
            border-width: 0 2px 2px 0;
            border-color: black;
            margin-left: -5px;
        }

        .toright {
            margin-top: -10px;
            height: 53px;
            width: 91px;
            display: block;
            border-style: solid;
            border-width: 0 0 2px 2px;
            border-color: black;
            margin-left: 85px;
        }

        .toline {
            margin-top: -10px;
            display: block;
            height: 53px;
            border-bottom: 2px solid black;
            width: 183px;
            margin-left: -5px;
        }

        .toleft2 {
            margin-top: -10px;
            height: 53px;
            width: 95px;
            display: block;
            border-style: dotted;
            border-width: 0 2px 2px 0;
            border-color: black;
            margin-left: -5px;
        }

        .toright2 {
            margin-top: -10px;
            height: 53px;
            width: 91px;
            display: block;
            border-style: dotted;
            border-width: 0 0 2px 2px;
            border-color: black;
            margin-left: 85px;
        }

        .toline2 {
            margin-top: -10px;
            display: block;
            height: 53px;
            border-bottom: 2px dotted black;
            width: 183px;
            margin-left: -5px;
        }

        .toempty {
            margin-top: -10px;
            display: block;
            height: 53px;
            width: 183px;
            margin-left: -5px;
        }
        .point_left {
            display: inline-block;
            overflow: hidden;
            width: 10px;
            height: 65px;
            @if (Context.Request.Headers["USER-AGENT"].ToString().IndexOf("Firefox", StringComparison.Ordinal) > -1)
            {
                <text>
                line-height: 80px;
                </text>
            }
            else
            {
                <text>
                line-height: 71px;
                </text>
            }
            font-size: 10pt;
            z-index: 999;
            text-align: left;
            float: left;
        }

        .point_right {
            display: inline-block;
            overflow: hidden;
            width: 10px;
            height: 65px;
            @if (Context.Request.Headers["USER-AGENT"].ToString().IndexOf("Firefox", StringComparison.Ordinal) > -1)
            {
                <text>
            line-height: 78px;
            </text>
            }
            else
            {
                <text>
            line-height: 71px;
            </text>
            }
            font-size: 10pt;
            float: right;
            z-index: 999;
            text-align: right;
        }
        .point {
            cursor: url('/favicon.ico'),auto;
            display: inline-block;
            width: 149px;
            padding-top: 5px;
            height: 60px;
            text-align: center;
            z-index: 1;
            float: left;
        }

        .range {
            margin: 10px 0 10px 0;
            display: block;
            width: 100%;
            height: 65px;
        }
        .empty {
            display: block;
            width: 166px;
            height: 83px;
            margin: 0;
            border: solid 1px #f5f5f5;
        }

        .title {
            display: block;
            width: 170px;
            padding: 10px 0 10px 0;
            margin: 0;
            background-color: silver;
            color: green;
            font-size: 16px;
            height: 40px;
            border-bottom: 1px solid green;
            text-align: center;
        }

        .station {
            vertical-align: top;
            display: inline-block;
            margin: 0;
            width: 171px;
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: green;
            padding: 0;
        }

        .station1 {
            vertical-align: top;
            display: inline-block;
            margin: 0;
            width: 170px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-color: green;
            padding: 0;
        }
    </style>
}
@section InitScript{
    <script type="text/javascript" src="~/js/flow.js"></script>
}
@section Scripts{
    <script type="text/javascript">
        
        modify_sub('请输入订阅标签', function (val) {
            create_ws(val);
            if (!val)
                vue_obj.$message({
                    type: 'info',
                    message: '没有任何订阅，您将收不到任何数据'
                });
            ws_api.open();
        });


    </script>
}
@section Menus{
    <el-menu :collapse="isCollapse"
             @@select="menu_select"
             default-active="menu-msg"
             background-color="#545c64"
             text-color="#fff"
             :default-openeds='["menu-type","menu-msg"]'
             active-text-color="#ffd04b">
        <el-submenu index="menu-type">
            <template slot="title">
                <i class="el-icon-view"></i>
                <span>操作</span>
            </template>
            <el-menu-item index="menu-show">
                <template slot="title">
                    <i :class="info.icon"></i>
                    <span>{{info.title}}</span>
                </template>
            </el-menu-item>
            <el-menu-item index="menu-msg-sub">
                <template slot="title">
                    <i class="el-icon-service"></i>
                    <span>修改订阅标签</span>
                </template>
            </el-menu-item>
            <el-menu-item index="menu-msg-search">
                <template slot="title">
                    <i class="el-icon-search"></i>
                    <span>历史查询</span>
                </template>
            </el-menu-item>
            <el-menu-item index="menu-msg-clear">
                <template slot="title">
                    <i class="el-icon-delete"></i>
                    <span>清除实时消息</span>
                </template>
            </el-menu-item>
            <el-menu-item index="menu-msg-close">
                <template slot="title">
                    <i :class="ws_icon"></i>
                    <span>
                        {{ws_action}}订阅
                    </span>
                </template>
            </el-menu-item>
        </el-submenu>
        <el-submenu index="menu-msg">
            <template slot="title">
                <i class="el-icon-message"></i>
                <span>实时消息(仅显示最早300条)</span>
            </template>
            <template v-for="item in flows">
                <el-menu-item v-bind:index="item.rid">
                    <template slot="title">
                        <i class="el-icon-bell"></i>
                        <span>{{item.start.cmd}}</span>
                    </template>
                </el-menu-item>
            </template>
        </el-submenu>
    </el-menu>
}
<el-container style="width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden">
    <el-main style="margin:0;padding:0;overflow:auto">
        <div id="flowPanel" style="margin: 0; padding: 10px; overflow: visible">
        </div>
    </el-main>

    <el-aside id="infoSide" :style="{width:info.width, padding: '10px','text-align':'left','border-left':'solid 2px slategray', overflow: 'auto', 'background-color': 'white',color:'black'}">
        <div id="stepPanel" style="padding: 10px;margin: 0; overflow: visible;">
        </div>
    </el-aside>
</el-container>

