<!DOCTYPE html>
<html style="height: 100%;width:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebMonitor - Task &amp; Plan</title>
    <script src="http://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>

    <link href="http://cdn.staticfile.org/highcharts/6.2.0/css/highcharts.css" rel="stylesheet">
    <script src="http://cdn.staticfile.org/highcharts/6.2.0/highcharts.js"></script>
    <script src="http://cdn.staticfile.org/highcharts/6.2.0/highcharts-3d.js"></script>
    <script src="http://cdn.staticfile.org/highcharts/6.2.0/highcharts-more.js"></script>
    <script src="http://cdn.staticfile.org/highcharts/6.2.0/modules/solid-gauge.js"></script>
    <script src="http://cdn.staticfile.org/highcharts/6.2.0/modules/exporting.js"></script>
    <script src="http://cdn.staticfile.org/highcharts/6.2.0/themes/sunset.js"></script>
    <script src="/lib/highcharts/highcharts-zh_CN.js"></script>

    <script src="http://cdn.staticfile.org/vue/2.6.10/vue.js"></script>
    <link href="http://cdn.staticfile.org/element-ui/2.6.1/theme-chalk/index.css" rel="stylesheet">
    <script src="http://cdn.staticfile.org/element-ui/2.6.1/index.js"></script>
    <script src="http://cdn.staticfile.org/element-ui/2.6.1/locale/zh-CN.min.js"></script>


    <link rel="stylesheet" href="/css/site.css" />
    <script src="/js/zero.js"></script>
    <script src="/js/ws.js"></script>
    <script src="/js/vue_ex.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/site.js"></script>

    <style>
        .plan_title {
            font-weight: bold;
            width: 100px;
        }

        .demo-table-expand {
            font-size: 0;
        }

            .demo-table-expand label {
                width: 90px;
                color: #99a9bf;
            }

            .demo-table-expand .el-form-item {
                margin-right: 0;
                margin-bottom: 0;
                width: 50%;
            }

        .el-scrollbar__wrap {
            overflow: scroll;
            height: 100%;
        }
    </style>

</head>
<body>
    <div id="work_space" class="tiled" v-cloak>
        <el-container class="tiled">
            <el-header>
                <div style="float:left;padding:0;color:white;font-size:20px" onclick="close_open();">
                    <i v-bind:style="{color:(ws_active ? 'rgb(255, 208, 75)' : 'white')}" class="el-icon-time"></i><span style="color: rgb(255, 208, 75);padding-left:8px">&#x8BA1;&#x5212;&#x4EFB;&#x52A1;</span>
                </div>
                <div style="float:right">
                    <el-button-group>
                        <el-button type="info" icon="el-icon-setting" @click="go_home">站点管理</el-button>
                        <el-button type="info" icon="el-icon-service" @click="go_monitor">站点监控</el-button>
                        <el-button type="info" icon="el-icon-service" @click="go_trace">流程跟踪</el-button>
                        <el-button type="info" icon="el-icon-document" @click="go_doc">接口文档</el-button>
                        <el-tooltip content="加入开源贡献者行列" placement="bottom-start">
                            <el-button type="info" @click="go_github">
                                <svg height="12" viewBox="0 0 16 16" version="1.1" width="12" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
                                </svg>
                            </el-button>
                        </el-tooltip>
                    </el-button-group>
                </div>
            </el-header>
            <el-container class="tiled">
                <el-aside id="main_menu" class="message_boards">
                    <div style="width: 100%; height: 100%; overflow: auto">
                        <div style="width: 100%; overflow: visible">



                            <el-menu :collapse="isCollapse" default-active="type-active"
                                     @select="menu_select"
                                     background-color="#545c64"
                                     text-color="#fff" unique-opened
                                     active-text-color="#ffd04b">

                                <el-submenu index="operator">
                                    <template slot="title">
                                        <i class="el-icon-edit"></i>
                                        <span>操作</span>
                                    </template>
                                    <el-menu-item index="operator-add">
                                        <template slot="title">
                                            <i class="el-icon-circle-plus-outline"></i>
                                            <span>新增</span>
                                        </template>
                                    </el-menu-item>
                                    <el-menu-item index="operator-flush">
                                        <template slot="title">
                                            <i class="el-icon-refresh"></i>
                                            <span>刷新</span>
                                        </template>
                                    </el-menu-item>
                                </el-submenu>
                                <el-submenu index="plan-data">
                                    <template slot="title">
                                        <i class="el-icon-date"></i>
                                        <span>数据类型</span>
                                    </template>
                                    <el-menu-item index="type-active">
                                        <template slot="title">
                                            <i class="el-icon-time"></i>
                                            <span>活动数据</span>
                                        </template>
                                    </el-menu-item>
                                    <el-menu-item index="type-history">
                                        <template slot="title">
                                            <i class="el-icon-time"></i>
                                            <span>历史数据</span>
                                        </template>
                                    </el-menu-item>
                                </el-submenu>
                                <el-submenu index="plan-type">
                                    <template slot="title">
                                        <i class="el-icon-time"></i>
                                        <span>计划类型</span>
                                    </template>
                                    <el-menu-item index="type-once">
                                        <template slot="title">
                                            <i class="el-icon-time"></i>
                                            <span>单次</span>
                                        </template>
                                    </el-menu-item>
                                    <el-menu-item index="type-time">
                                        <template slot="title">
                                            <i class="el-icon-time"></i>
                                            <span>定时</span>
                                        </template>
                                    </el-menu-item>
                                    <el-menu-item index="type-delay">
                                        <template slot="title">
                                            <i class="el-icon-bell"></i>
                                            <span>延时</span>
                                        </template>
                                    </el-menu-item>
                                    <el-menu-item index="type-week">
                                        <template slot="title">
                                            <i class="el-icon-date"></i>
                                            <span>每周</span>
                                        </template>
                                    </el-menu-item>
                                    <el-menu-item index="type-month">
                                        <template slot="title">
                                            <i class="el-icon-date"></i>
                                            <span>每月</span>
                                        </template>
                                    </el-menu-item>
                                </el-submenu>
                                <el-submenu index="station">
                                    <template slot="title">
                                        <i class="el-icon-menu"></i>
                                        <span>站点</span>
                                    </template>
                                    <el-menu-item-group title="Api">
                                        <el-menu-item index="station-Authority">
                                            <template slot="title">
                                                <i class="el-icon-star-on"></i>
                                                <span>Authority</span>
                                            </template>
                                        </el-menu-item>
                                        <el-menu-item index="station-User">
                                            <template slot="title">
                                                <i class="el-icon-star-on"></i>
                                                <span>User</span>
                                            </template>
                                        </el-menu-item>
                                        <el-menu-item index="station-App">
                                            <template slot="title">
                                                <i class="el-icon-star-on"></i>
                                                <span>App</span>
                                            </template>
                                        </el-menu-item>
                                        <el-menu-item index="station-Hpc">
                                            <template slot="title">
                                                <i class="el-icon-star-on"></i>
                                                <span>Hpc</span>
                                            </template>
                                        </el-menu-item>
                                        <el-menu-item index="station-Import">
                                            <template slot="title">
                                                <i class="el-icon-star-on"></i>
                                                <span>Import</span>
                                            </template>
                                        </el-menu-item>
                                        <el-menu-item index="station-NetShop">
                                            <template slot="title">
                                                <i class="el-icon-star-on"></i>
                                                <span>NetShop</span>
                                            </template>
                                        </el-menu-item>

                                    </el-menu-item-group>
                                    <el-menu-item-group title="Notify">
                                        <el-menu-item index="station-UserMessage">
                                            <template slot="title">
                                                <i class="el-icon-share"></i>
                                                <span>UserMessage</span>
                                            </template>
                                        </el-menu-item>

                                    </el-menu-item-group>
                                </el-submenu>

                            </el-menu>


                        </div>
                    </div>
                </el-aside>
                <el-main class="tiled_scroll">
                    <div class="tiled_full">
                        <template>
                            <el-table :data="plans"
                                      stripe border
                                      height="100%"
                                      width=" 100%">
                                <el-table-column type="expand">
                                    <template slot-scope="scope">
                                        <el-form label-position="left" inline class="demo-table-expand" label-width="100px">
                                            <el-form-item label="计划标识">
                                                <span>{{ scope.row.plan_id | formatHex}}</span>
                                            </el-form-item>
                                            <el-form-item label="原始请求者">
                                                <span>{{ scope.row.caller }}</span>
                                            </el-form-item>
                                            <p style="width: 100%;display:inline-block" v-html="format_frame(scope.row.frames)"></p>
                                        </el-form>
                                    </template>
                                </el-table-column>
                                <el-table-column label="计划内容">
                                    <template slot-scope="scope">
                                        <span>
                                            {{ scope.row.description}}
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="station" label="命令">
                                    <template slot-scope="scope">
                                        <span>
                                            {{ scope.row.station}}/{{ scope.row.command}}
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="计划类型">
                                    <template slot-scope="scope">
                                        <span>
                                            {{ scope.row.plan_type | format_plan_date_type}}({{ scope.row.plan_value}})
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="计划状态">
                                    <template slot-scope="scope">
                                        <span>
                                            {{ scope.row.plan_state | format_plan_state}}
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="计划时间">
                                    <template slot-scope="scope">
                                        <i class="el-icon-time"></i>
                                        <span>
                                            {{ scope.row.plan_time | formatUnixDate}}
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="执行时间">
                                    <template slot-scope="scope">
                                        <span>
                                            <i class="el-icon-time"></i>
                                            <span>{{ scope.row.exec_time | formatUnixDate}}</span>
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="执行次数">
                                    <template slot-scope="scope">
                                        <span>
                                            {{ scope.row.real_repet}}/{{ scope.row.plan_repet}}
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column label="轮空状态">
                                    <template slot-scope="scope">
                                        {{ scope.row | format_skip}}
                                    </template>
                                </el-table-column>
                                <el-table-column label="执行状态">
                                    <template slot-scope="scope">
                                        <span>
                                            {{ scope.row.exec_state | format_exec_state}}
                                        </span>
                                    </template>
                                </el-table-column>
                                <el-table-column width="160px" label="操作" fixed="right">
                                    <template slot-scope="scope">
                                        <el-button v-if="scope.row.plan_state == 5 || scope.row.plan_state == 6" size="mini"
                                                   @click="plan_reset(scope.row)">恢复</el-button>
                                        <el-button v-if="scope.row.plan_state == 5" size="mini"
                                                   @click="plan_close(scope.row)">关闭</el-button>
                                        <el-button v-if="scope.row.plan_state < 5" size="mini"
                                                   @click="plan_pause(scope.row)">暂停</el-button>
                                        <el-button v-if="scope.row.plan_state >= 6" size="mini"
                                                   type="danger"
                                                   @click="plan_remove(scope.row)">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>

                        <!-- Form -->
                        <el-dialog title='计划编辑'
                                   width="1024px"
                                   :visible.sync='zeroPlan.visible'
                                   v-loading='zeroPlan.loading'
                                   element-loading-text='正在处理'
                                   element-loading-spinner='el-icon-loading'
                                   element-loading-background='rgba(0, 0, 0, 0.8)'>
                            <div style='border:solid 1px silver;background-color:white;padding:10px'>
                                <el-form :model='zeroPlan.form'
                                         :rules='zeroPlan.rules'
                                         label-position='right'
                                         label-width='60px'
                                         ref='zeroPlanForm'
                                         @submit.native.prevent>
                                    <el-form-item size="medium" label='标题' prop='description'>
                                        <el-input v-model='zeroPlan.form.description' placeholder='计划说明' auto-complete='off'></el-input>
                                    </el-form-item>
                                    <el-form-item size="medium" label='命令' prop='station'>
                                        <el-col :span="4">
                                            <el-input v-model='zeroPlan.form.station' placeholder='站点' auto-complete='off'></el-input>
                                        </el-col>
                                        <el-col :span="1">
                                            &nbsp;
                                        </el-col>
                                        <el-col :span="10">
                                            <el-input v-model='zeroPlan.form.command' placeholder='API' auto-complete='off'></el-input>
                                        </el-col>
                                    </el-form-item>
                                    <el-form-item size="medium">
                                        <el-input type="textarea" :row="9" v-model='zeroPlan.form.argument' placeholder='参数' auto-complete='off'></el-input>
                                    </el-form-item>
                                    <el-form-item size="medium" label='上下文'>
                                        <el-input type="textarea" :row="9" v-model='zeroPlan.form.context' placeholder='上下文' auto-complete='off'></el-input>
                                    </el-form-item>

                                    <el-form-item size="medium" label='计划' prop='plan_type'>
                                        <el-col :span="6">
                                            <el-select v-model='zeroPlan.form.plan_type'>
                                                <el-option value='0' label="无">无</el-option>
                                                <el-option value='1' label="在基准时间执行">在基准时间执行</el-option>
                                                <el-option value='2' label="延迟指定秒">延迟指定秒</el-option>
                                                <el-option value='3' label="延迟指定分钟">延迟指定分钟</el-option>
                                                <el-option value='4' label="延迟指定小时">延迟指定小时</el-option>
                                                <el-option value='5' label="延迟指定天数">延迟指定天数</el-option>
                                                <el-option value='6' label="每周">每周</el-option>
                                                <el-option value='7' label="每月">每月</el-option>
                                            </el-select>
                                        </el-col>
                                        <el-col :span="5" v-if="zeroPlan.form.plan_type > 1">
                                            <label v-if="zeroPlan.form.plan_type > 1 && zeroPlan.form.plan_type < 6 ">延迟</label>
                                            <el-input style="width:80px" v-model='zeroPlan.form.plan_value' placeholder='数值' auto-complete='off'></el-input>
                                            <label v-if="zeroPlan.form.plan_type > 1 && zeroPlan.form.plan_type < 6 ">{{zeroPlan.form.plan_type | format_plan_type}}</label>
                                            <label v-if="zeroPlan.form.plan_type == 7 ">{{zeroPlan.form.plan_value | format_plan_value}}</label>
                                        </el-col>
                                        <el-col :span="1">
                                            &nbsp;
                                        </el-col>
                                        <el-col :span="7" v-if="zeroPlan.form.plan_type > 0">
                                            <el-date-picker type="datetime" v-model='zeroPlan.form.plan_time' placeholder='基准时间' auto-complete='off'></el-date-picker>
                                        </el-col>
                                        <el-col :span="1">
                                            &nbsp;
                                        </el-col>
                                    </el-form-item>
                                    <el-form-item size="medium">
                                        <el-col :span="6" v-if="zeroPlan.form.plan_type > 1">
                                            <span>跳过前</span><el-input style="width:100px" v-model='zeroPlan.form.skip_set' auto-complete='off'></el-input>次后
                                        </el-col>
                                        <el-col :span="5" v-if="zeroPlan.form.plan_type > 1">
                                            <span>重复</span>
                                            <el-input style="width:100px" v-model='zeroPlan.form.plan_repet' placeholder='重复次数,0不重复 >0重复次数,-1永久重复' auto-complete='off'></el-input>
                                            <span>次</span>
                                        </el-col>
                                        <el-col :span="5" v-if="zeroPlan.form.plan_type > 0 && zeroPlan.form.plan_type < 6 ">
                                            <el-switch v-model="zeroPlan.form.no_skip"
                                                       active-color="#13ce66"
                                                       inactive-color="silver"
                                                       inactive-text="">
                                            </el-switch>
                                            <span>保留过期时间</span>
                                        </el-col>
                                    </el-form-item>
                                    <el-form-item size="medium">
                                        <label>{{zeroPlan.form | format_plan}}</label>
                                    </el-form-item>
                                </el-form>
                            </div>
                            <div slot='footer' class='dialog-footer'>
                                <el-button @click='zeroPlan.visible = false'>取 消</el-button>
                                <el-button @click='save_zeroPlan' type='primary'>确 定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </el-main>
            </el-container>
        </el-container>
    </div>


    <script src="/js/plan.js"></script>
</body>
</html>
