@using Agebull.ZeroNet.Core
@using Newtonsoft.Json
@using ZeroNet.Http.Route
@model Agebull.ZeroNet.ZeroApi.AnnotationsConfig
@{
    var filter = Model.Name?.ToLower();
    ViewData["Title"] = "ZeroNet";
    ViewData["page"] = "home";

    StationInfo[] options;
    switch (filter)
    {
        case "base":
            options = ZeroApplication.Config.GetConfigs(p => p.IsBaseStation).OrderBy(p => p.RequestPort).Select(p => new StationInfo(p)).ToArray();
            break;
        case "pub":
            options = ZeroApplication.Config.GetConfigs(p => !p.IsBaseStation && p.StationType == ZeroStationType.Publish).OrderBy(p => p.RequestPort).Select(p => new StationInfo(p)).ToArray();
            break;
        case "rapi":
            options = ZeroApplication.Config.GetConfigs(p => !p.IsBaseStation && p.StationType == ZeroStationType.RouteApi).OrderBy(p => p.RequestPort).Select(p => new StationInfo(p)).ToArray();
            break;
        default:
            filter = "api";
            options = ZeroApplication.Config.GetConfigs(p => !p.IsBaseStation && p.StationType == ZeroStationType.Api).OrderBy(p => p.RequestPort).Select(p => new StationInfo(p)).ToArray();
            break;
    }

    var station = JsonConvert.SerializeObject(options, Formatting.Indented);
}
@section Styles
    {

    <style>
        .item {
            margin - top: 10px;
            margin - right: 40px;
        }

        .my_label {
            width: 60px;
            display: inline - block;
            text - align: right
        }

        .el-dialog {
            background - color: whitesmoke
        }

        .el-dialog__body {
            padding: 10px
        }

        .el-card__body {
            padding: 10px 10px 0 10px;
        }
    </style>
}

@section VUE{
    <script>
        function do_get(url, that) {
            $.get(url, function (data) {
                if (data.success) {
                    that.$message({
                        message: '操作成功',
                        type: 'success'
                    });
                }
                else {
                    that.$message.error('操作失败:' + data.status.msg);
                }
            }).error(function (e) {
                that.$message.error('操作失败'+e);
            });

        }
        var stations =@Html.Raw(station);
        extend_data({
            configs: stations,
            editDialogFormVisible: false,
            loading: false,
            formLabelWidth: 100,
            nowStation: {
                name: "",
                description: "",
                type: "API",
                alias: "",
                short_name: "",
                edit: false
            },
            rules: {
                name: [
                    { required: true, message: '请输入站点名称', trigger: 'blur' },
                    { min: 3, max: 16, message: '长度在 3 到 16 个字符', trigger: 'blur' }
                ],
                short_name: [
                    { required: true, message: '请输入站点简称', trigger: 'blur' },
                    { min: 3, max: 16, message: '长度在 3 到 8 个字符', trigger: 'blur' }
                ]
            }
        });
        extend_methods({
            menu_select: function (index, indexPath) {
                switch (index) {
                    case "type-base":
                        location.href = "/Home/Index/base";
                        return;
                    case "type-pub":
                        location.href = "/Home/Index/pub";
                        return;
                    case "type-api":
                        location.href = "/Home/Index/api";
                        return;
                    case "type-rapi":
                        location.href = "/Home/Index/rapi";
                        return;
                }
            },
            go_station_info(station) {
                location.href = '/Monitor/Index/' + station;
            },
            pause_station(station) {
                do_get('/Home/Pause/' + station, this);
            },
            resume_station(station) {
                do_get('/Home/Resume/' + station, this);
            },
            recover_station(station) {
                do_get('/Home/Recover/' + station, this);
            },
            stop_station(station) {
                do_get('/Home/Stop/' + station, this);
            },
            remove_station(station) {
                do_get('/Home/Remove/' + station, this);
            },
            go_doc(station) {
                location.href = '/Doc/Index/' + station;
            },
            add_station() {
                vue_option.data.nowStation = {
                    name: "",
                    description: "",
                    type: "API",
                    alias: "",
                    short_name: "",
                    edit: false
                };
                vue_option.data.editDialogFormVisible = true;
            },
            edit_station(station) {
                station.edit = true;
                vue_option.data.nowStation = station;
                vue_option.data.editDialogFormVisible = true;
            },
            save_station(formName) {
                var that = this;
                this.$refs[formName].validate((valid) => {
                    if (!valid) {
                        that.$message.error('内容不合理');
                        return false;
                    }
                    vue_option.data.loading = true;
                    $.post(vue_option.data.nowStation.edit ? '/Home/Update' : '/Home/Install', vue_option.data.nowStation, function (data) {
                        vue_option.data.loading = false;
                        if (data.success) {
                            that.$message({
                                message: '操作成功',
                                type: 'success'
                            });
                            vue_option.data.editDialogFormVisible = false;
                        }
                        else {
                            that.$message.error('操作失败:' + data.status.msg);
                        }
                    }).error(function () {
                        vue_option.data.loading = false;
                        vue_option.data.editDialogFormVisible = false;
                        that.$message.error('更新失败');
                    });
                });

            },
            reset_edit(formName) {
                vue_option.data.editDialogFormVisible = false;
                this.$refs[formName].resetFields();
            }

        });
        function filter_station(station) {
            @if(@filter == "base")
            {
                <text>
            return station.is_base;
            </text>
            }
            @if(@filter == "pub")
            {
                <text>
            return !station.is_base && station.type == "Pub";
            </text>
            }
            @if(@filter == "api")
            {
                <text>
            return !station.is_base && station.type == "API";
            </text>
            }
        }
    </script>
}
@section Scripts{
    <script>
        function on_config_push(station) {
            if (!filter_station(station))
                return;
            for (var idx = 0; idx < stations.length; idx++) {
                var cfg = stations[idx];
                if (cfg.name === station.name) {
                    if (station.state == "Remove") {
                        stations.splice(idx,1);
                    }
                    else {
                        var status = station.status
                        Vue.set(stations, idx, station);
                        station.status = status;
                    }
                    return;
                }
            }
            stations.push(station);
        }
        function on_status_push(status) {
            for (var idx = 0; idx < stations.length; idx++) {
                var cfg = stations[idx];
                if (cfg.name === status.station_name) {
                    Vue.set(cfg, "status", status);
                    return;
                }
            }
        }
        var socket_config = new ws({
            address: "ws://" + location.host + "/config",
            sub: "",
            onmessage: on_config_push
        });
        socket_config.open();
        var socket_status = new ws({
            address: "ws://" + location.host + "/status",
            sub: "",
            onmessage: on_status_push
        });
        socket_status.open();
    </script>
}

@section Menus{
    <el-aside class="message_boards" style="width:160px">
        <el-menu @@select="menu_select"
                 default-active="type-@Model.Name"
                 class="el-menu-vertical-demo"
                 background-color="#545c64"
                 text-color="#fff" unique-opened
                 active-text-color="#ffd04b">
            <el-menu-item index="type-api">
                <template slot="title">
                    <i class="el-icon-star-off"></i>
                    <span>Api站点</span>
                </template>
            </el-menu-item>
            <el-menu-item index="type-rapi">
                <template slot="title">
                    <i class="el-icon-star-off"></i>
                    <span>RouteApi站点</span>
                </template>
            </el-menu-item>
            <el-menu-item index="type-pub">
                <template slot="title">
                    <i class="el-icon-share"></i>
                    <span>广播站点</span>
                </template>
            </el-menu-item>
            <el-menu-item index="type-base">
                <template slot="title">
                    <i class="el-icon-setting"></i>
                    <span>系统站点</span>
                </template>
            </el-menu-item>
        </el-menu>
    </el-aside>
}
<template v-for="config in configs">

    <el-card shadow="hover" style="margin:8px;padding :2px;width:280px; height: 320px;display:inline-block">
        <div style="display: block; height: 272px">
            <div style="font-size:16pt">
                {{config.name}}
            </div>
            <ul>
                <li>Type:{{config.type}}</li>
                <el-popover placement="right"
                            title="[Stations]"
                            effect="light"
                            visible-arrow="false"
                            trigger="hover">
                    <template v-for="worker in config.status.workers">
                        <el-rate v-model="worker.level"
                                 disabled
                                 text-color="#ff9900"
                                 score-template="{value}">
                        </el-rate>
                        {{worker.real_name}} ({{worker.state_text}})
                    </template>
                    <li slot="reference">
                        State:{{config.state}}
                        <template v-if="config.state == 'Run'">
                            ({{config.status.workers.length}})
                        </template>
                    </li>
                </el-popover>
                <li slot="reference">Alias:{{config.short_name}} {{config.alias}}</li>
                <el-popover placement="right"
                            effect="light"
                            visible-arrow="false"
                            trigger="hover">
                    <template>
                        <div><span class="my_label">Request</span> : {{config.status.request_in}}</div>
                        <div><span class="my_label">Result</span> : {{config.status.request_out}}</div>
                        <div><span class="my_label">Error</span> : {{config.status.request_err}}</div>
                        <div><span class="my_label">Total</span> : {{config.status.TotalQps}}</div>
                        <div><span class="my_label">Avg</span> : {{config.status.AvgQps}}/s</div>
                        <div><span class="my_label">Max</span> : {{config.status.MaxQps}}/s</div>
                        <div><span class="my_label">Min</span> : {{config.status.MinQps}}/s</div>
                        <div><span class="my_label">Last</span> : {{config.status.LastQps}}/s</div>
                    </template>
                    <li slot="reference">
                        Request({{config.status.request_out}})<br />
                        {{config.clientCallAddress}}
                    </li>
                </el-popover>
                <el-popover placement="right"
                            effect="light"
                            visible-arrow="false"
                            trigger="hover">
                    <template>
                        <div v-if="config.type != 'API'"><span class="my_label">Publish</span> : {{config.status.worker_out}}</div>
                        <div v-if="config.type == 'API'"><span class="my_label">Issued</span> : {{config.status.worker_out}}</div>
                        <div v-if="config.type == 'API'"><span class="my_label">Result</span> : {{config.status.worker_in}}</div>
                        <div v-if="config.type == 'API'"><span class="my_label">Error</span> : {{config.status.worker_err}}</div>
                        <div><span class="my_label">Total</span> : {{config.status.TotalTps}}</div>
                        <div><span class="my_label">Avg</span> : {{config.status.AvgTps}}/s</div>
                        <div><span class="my_label">Max</span> : {{config.status.MaxTps}}/s</div>
                        <div><span class="my_label">Min</span> : {{config.status.MinTps}}/s</div>
                        <div><span class="my_label">Last</span> : {{config.status.LastTps}}/s</div>
                    </template>
                    <li slot="reference">
                        <template v-if="config.type == 'API'">
                            Issued({{config.status.worker_out}})
                            <br />
                            {{config.workerCallAddress}}
                            <br />
                            Result({{config.status.worker_in}})
                            <br />
                            {{config.workerResultAddress}}
                        </template>
                        <template v-else>
                            Publish({{config.status.worker_out}})
                            <br />
                            {{config.workerCallAddress}}
                            <br />*
                            <br />*
                        </template>
                    </li>
                </el-popover>
            </ul>
            <div style="font-size:12px;">{{config.description}}</div>
        </div>
        <div style="display:block;">
            <div style="float:left">
                <el-button-group>
                    @*<el-tooltip class="item" effect="dark" content="查看运行状态" placement="top-start">
                        </el-tooltip>*@
                    <el-button size="mini" icon="el-icon-info" @@click="go_station_info(config.name)"></el-button>
                </el-button-group>
            </div>
            <div style="float:right">
                <el-button-group>
                    <el-button v-if="config.type == 'API'" size="mini" icon="el-icon-document" @@click="go_doc(config.name)"></el-button>
                    <el-button v-if="!config.is_base && config.state != 'Stop'" size="mini" icon="el-icon-edit" @@click="edit_station(config)"></el-button>
                    <el-button v-if="config.is_general && config.state == 'Run'" size="mini" icon="el-icon-remove-outline" @@click="pause_station(config.name)"></el-button>
                    <el-button v-if="config.state != 'Run' && config.state != 'Stop'" size="mini" icon="el-icon-caret-right" @@click="resume_station(config.name)"></el-button>
                    <el-button v-if="!config.is_base && config.state == 'Stop'" size="mini" icon="el-icon-success" @@click="recover_station(config.name)"></el-button>
                    <el-button v-if="!config.is_base && config.state != 'Stop'" size="mini" icon="el-icon-close" @@click="stop_station(config.name)"></el-button>
                    <el-button v-if="!config.is_base && config.state == 'Stop'" size="mini" icon="el-icon-delete" @@click="remove_station(config.name)"></el-button>
                    @*<el-tooltip class="item" effect="dark" content="查看API接口文档" placement="top-start">
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="编辑站点信息" placement="top-start">
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="暂停站点" placement="top-start">
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="运行站点" placement="top-start">
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="恢复已关停站点" placement="top-start">
                        </el-tooltip>
                        <el-tooltip class="item" effect="dark" content="关停站点" placement="top-start">
                        </el-tooltip>*@
                </el-button-group>
            </div>
        </div>
    </el-card>
</template>

@if (filter != "base")
{
    <el-card shadow="hover" style="margin:8px;padding :2px;width:280px; height: 320px;display:inline-block;background-color:rgba(140, 135, 135, 0.1)">
        <div style="width:240px;height:240px;line-height:240px;text-align:center">
            <el-button icon="el-icon-circle-plus-outline" @@click="add_station()">新增站点</el-button>
        </div>
    </el-card>
    <!-- Form -->
    <el-dialog title="站点编辑"
               :visible.sync="editDialogFormVisible" v-loading="loading"
               element-loading-text="正在处理"
               element-loading-spinner="el-icon-loading"
               element-loading-background="rgba(0, 0, 0, 0.8)">
        <div style="border:solid 1px silver;background-color:white;padding:10px">
            <el-form :model="nowStation" :rules="rules" label-position="left" label-width="100px" ref="nowStationForm" @@submit.native.prevent>
                <el-form-item label="名称" prop="name">
                    <el-input v-model="nowStation.name" placeholder="站点名称" :readOnly="nowStation.edit" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="简称" prop="short_name">
                    <el-input v-model="nowStation.short_name" placeholder="站点简称" :readOnly="nowStation.edit" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="类型">
                    <el-radio-group v-model="nowStation.type" :disabled="nowStation.edit">
                        <el-radio disabled label="Dispatcher">Dispatcher</el-radio>
                        <el-radio disabled label="Plan">Plan</el-radio>
                        <el-radio label="Pub">Pub</el-radio>
                        <el-radio label="API">Api</el-radio>
                        <el-radio label="rApi">RouteApi</el-radio>
                        <el-radio disabled label="Vote">Vote</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="别名">
                    <el-input v-model="nowStation.alias" placeholder="站点别名" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="说明" label-position="top">
                    <el-input type="textarea" placeholder="站点说明" :rows="2" auto-complete="off" v-model="nowStation.description"></el-input>

                </el-form-item>
            </el-form>
        </div>
        <div slot="footer" class="dialog-footer">
            <el-button @@click="reset_edit('nowStationForm')">取 消</el-button>
            <el-button type="primary" @@click="save_station('nowStationForm')">确 定</el-button>
        </div>
    </el-dialog>

}
