<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--机器名称-->
    <add key="ServiceKey" value="HttpProxy" />
    <add key="LogPath" value="C:\Log" />
    <!--是否记录跟踪日志-->
    <add key="LogMonitor" value="False" />
    <!--是否校验Auth-->
    <add key="CheckBearCache" value="False" />
    <!--校验Auth的Redis的地址-->
    <add key="RedisConnectionString" value="127.0.0.1:6379" />
    <!--黑洞地址-->
    <add key="BlackHost" value="http://apl.yizuanbao.cn" />
    <!--内容页地址-->
    <add key="ContextHost" value="http://116.62.122.157:8080/" />
  </appSettings>
</configuration>
