<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceKey" value="HttpProxy" />
    <add key="LogMonitor" value="False" />
    <add key="CheckBearCache" value="False" />
    <add key="RedisConnectionString" value="127.0.0.1:6379" />
    
  </appSettings>
</configuration>
