<!DOCTYPE html>
<html style="height: 100%;width:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMonitor</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.3.9/lib/theme-chalk/index.css">
    @RenderSection("Styles", required: false)
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jsmq.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.3.9/lib/index.js"></script>
</head>
<body style="height: 100%;width:100%">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">WebMonitor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-page="/Index">基本信息</a></li>
                    <li><a asp-page="/Log">实时日志</a></li>
                    <li><a asp-page="/Counter">实时警告</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content"  style="height: 100%">
        @RenderBody()
        @*<hr />
<footer>
        <p>&copy; 2017 - WebMonitor</p>
    </footer>*@
    </div>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
