@page
@{
    ViewData["Title"] = "实时日志";
}
@section Scripts{
    <script src="js/JSMQ.js"></script>
    <script>
        var subscriber = new JSMQ.Subscriber();
        var index = 0;
        subscriber.connect("ws://" + location.hostname + ":6001");
        subscriber.subscribe("Log");
        subscriber.onMessage = function (message) {
            message.popString();
            var bytes = message.popBuffer();
            var reader = new FileReader();
            reader.readAsText(new Blob([bytes]), 'utf-8');
            reader.onload = function (evt) {
                $("#box").prepend("<fieldset><legend>" + (++index) + "</legend>" + reader.result + "</fieldset>");
            }
        };
    </script>
}
<div id="box"></div>
