<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceKey" value="TestClient_001" />
    <add key="ServiceName" value="TestClient" />
    <add key="ServiceAddress" value="192.168.31.245" />
    <add key="LogPath" value="z:\log" />
    <add key="LogMonitor" value="False" />
  </appSettings>
</configuration>
