<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="mysql" connectionString="Database=gbsmanage;Data Source=192.168.1.33;User Id=root;Password=123456;pooling=false;CharSet=utf8;port=3306"/>-->
    <!--<add name="mysql" connectionString="Database=tourism;Data Source=61.147.114.78;User Id=root;Password=Dongxiang;pooling=false;CharSet=utf8;port=3306"/>-->
    <add name="mysql" connectionString="Database=Simulated_Bank;Data Source=192.168.0.98;User Id=root;Password=123456;pooling=false;CharSet=utf8;port=3306" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <supportedRuntime version="v2.0.50727" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
