<?xml version = "1.0" ?>

<configuration>
  <log4net debug = "false" >
    <!--定义日志的输出媒介。-->
    <root>
      <Level value = "INFO" />
      <!--<appender-ref ref="LogFileAppender" />-->
      <appender-ref ref = "AdoNetAppender_Access" />
    </root>
    <!--定义输出到数据库中-->
    <appender name = "AdoNetAppender_Access"
              type = "log4net.Appender.AdoNetAppender" >
      <bufferSize value = "1" />
      <connectionType value = "System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <!--数据库连接字串-->
      <connectionString value = "Data Source=.;Initial Catalog=Log;Persist Security Info=True;User ID=sa;Password=1" />
      <commandText
        value = "INSERT INTO [log] ([Date],[Thread],[Level],[Logger],[Sort],[Infomation],[Message],[Appdomain],[exception],[file],[identity],[location],[line],[mdc],[method],[property],[type],[username],[Reason],[User],[Locale])values(@Date,@Thread,@Level,@Logger,@Sort,@Infomation,@Message,@Appdomain,@exception,@file,@identity,@location,@line,@mdc,@method,@property,@type,@username,@Reason,@User,@Locale)" />
      <!--定义各个参数-->
      <parameter>
        <parameterName value = "@Date" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%date" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Thread" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Level" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Logger" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Appdomain" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%appdomain" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@exception" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%exception" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@file" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%file" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@identity" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%identity" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@location" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%location" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@line" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%line" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@mdc" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%mdc" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@method" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%method" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@property" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%property" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@type" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%type" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@username" />
        <dbType value = "String" />
        <size value = "200" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%username" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Message" />
        <dbType value = "String" />
        <size value = "1000" />
        <layout type = "log4net.Layout.PatternLayout" >
          <conversionPattern value = "%message" />
        </layout>
      </parameter>
      <!--自定义变量-->
      <parameter>
        <parameterName value = "@Reason" />
        <dbType value = "String" />
        <size value = "4000" />
        <layout type = "Agebull.Common.Server.Logging.MyPatternLayout" >
          <param name = "ConversionPattern"
                 value = "%property{QueryKey}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Sort" />
        <dbType value = "String" />
        <size value = "4000" />
        <layout type = "Agebull.Common.Server.Logging.MyPatternLayout" >
          <param name = "ConversionPattern"
                 value = "%property{Sort}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@User" />
        <dbType value = "String" />
        <size value = "4000" />
        <layout type = "Agebull.Common.Server.Logging.MyPatternLayout" >
          <param name = "ConversionPattern"
                 value = "%property{User}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Infomation" />
        <dbType value = "String" />
        <size value = "1000000000" />
        <layout type = "Agebull.Common.Server.Logging.MyPatternLayout" >
          <param name = "ConversionPattern"
                 value = "%property{Infomation}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value = "@Locale" />
        <dbType value = "String" />
        <size value = "1000000000" />
        <layout type = "Agebull.Common.Server.Logging.MyPatternLayout" >
          <param name = "ConversionPattern"
                 value = "%property{Locale}" />
        </layout>
      </parameter>
    </appender>
		
    <!--定义输出到文件中-->
    <!--
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      -->
    <!--定义文件存放位置-->
    <!--
      <file value="log.txt" />
      -->
    <!-- Example using environment variables in params -->
    <!--
      -->
    <!-- <file value="${TMP}log-file.txt" /> -->
    <!--
      -->
    <!--<sppendToFile value="true" />-->
    <!--
      -->
    <!-- An alternate output encoding can be specified -->
    <!--
      -->
    <!-- <encoding value="unicodeFFFE" /> -->
    <!--
      <layout type="log4net.Layout.PatternLayout">
        -->
    <!--每条日志末尾的文字说明-->
    <!--
        -->
    <!--footer value="%newline[注]- -记录自agebull soft log4net日志扩展"/-->
    <!--
        -->
    <!--输出格式-->
    <!--
        <conversionPattern value="%date [%Thread] %-5level %Logger [%ndc] &lt;%property{auth}&gt; - %Message%newline" />
      </layout>
    </appender>-->

  </log4net>
</configuration>