@model object

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script>
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '', // 必填，公众号的唯一标识
            timestamp: Date.parse(new Date()), // 必填，生成签名的时间戳
            nonceStr: '', // 必填，生成签名的随机串
            signature: '',// 必填，签名
            jsApiList: ["updateAppMessageShareData"] // 必填，需要使用的JS接口列表
        });
    </script>
</head>
<body>
<div>
      
</div>
</body>
</html>